* {
    box-sizing : border-box;
    -moz-box-sizing : border-box;
    margin: 0;
    padding: 0;
}

.jumbotron {
    text-align: center;
    background-image: linear-gradient(to bottom right, skyblue, white, lightslategray);
    width: 100%;
    display: inline-flex;
    flex-direction:column;
    height:150px;
}

body {
    background-color: rgb(225, 226, 228);
}

h1 {
    padding-top: 15px;
}

.searchContainer {
    margin-left:40px;
    float:left;
    margin-top: 15px;
}

.searchText {
    font-size: 20px;
}

.searchBtn {
    border-radius: 5px;
    margin-top: 5px;
    box-shadow: 3px 3px 3px lightslategray;
    border-color: black;
    border-width: 1px;
    width:125px;
}

.searchBtn:hover {
    font-weight: 700;
}

.form-input {
    border-radius: 5px;
    border-style: solid;
    box-shadow: 3px 3px 3px lightslategray;
}

.quickLinks {
    margin-top: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: lightslategray;
    border-radius: 5px;
    box-shadow: 3px 3px 3px lightslategray;
    width: 220px;
    background-color: rgb(144, 238, 207);
}

h4 {
    text-align: center;
}
#quickCityBtn {
    display:Block;
    width:200px;
    margin-bottom: 5px;
    border-radius: 5px;
    margin-left:10px;
    margin-right:10px;
    box-shadow: 3px 3px black;
}

#quickCityBtn:hover {
    transition: all .3s ease-in-out;
    background-color: rgb(238, 192, 192);
    font-weight: 700;
} 

.wrapper {
    float:;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-left: 200px;
}

.weatherDisplay {
    background-color: whitesmoke;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    text-align: left;
    margin-top: 10px;
    box-shadow: 3px 3px 3px lightslategray;
    width: 61%;
}

.weatherIcon {
    margin-left: 15px;
}

h3, h5, #targetDetails {
    margin-left: 10px;
}

#targetDetails {
    margin-bottom: 8px;
}

.temprature {
    margin-top:10px;
}
.fiveDayForecast {
    text-align: left;
    margin-top: 10px;

}

.forecastContainer {
    display:flex;
    flex-wrap: wrap;
}

.date {
    margin-top: 5px;
}

.humidity2 {
    margin-bottom: 5px;
    text-align: left;
    margin-left:5px;
}

.temp {
    text-align: left;
    margin-left:5px;
    margin-top: 20px;
}


#fiveDay {
    margin-right: 30px;
    
}

.forecastA, .forecastB,
.forecastC, .forecastD,
.forecastE {
    border-style: solid;
    border-color: lightslategray;
    border-width: 1px;
    border-radius: 5px;
    box-shadow: 3px 3px 3px lightslategray;
    text-align: center;
    background-color: skyblue;
    color:white;
    font-size: small;
    min-width:150px;
}



@media screen and (max-width: 1000px) {
    .wrapper {
        padding-left: 50px;
    }
}

@media screen and (max-width: 780px) {
    .wrapper {
        flex-direction: column;
        padding-left: 40px;
        float: left;
    }
}