.jumbotron {
    text-align: center;
    background-color: skyblue;
    width: 100%;
}

h1 {
    padding-top: 15px;
}

.searchContainer {
    margin-left:40px;
    float:left;
}

.searchText {
    font-size: 20px;
}

.searchFill {
    width:374px;
    border-radius: 5px;
    height:30px;
}

.searchBtn {
    border-radius: 5px;
    margin-top: 5px;
}

.quickLinks {
    margin-top: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: lightslategray;
    border-radius: 5px;
    width: 160px;
    background-color: rgb(144, 238, 207);
}

h4 {
    text-align: center;
}
#quickCityBtn {
    display:Block;
    width:140px;
    margin-bottom: 5px;
    border-radius: 5px;
    margin-left:10px;
    margin-right:10px;
}


.weatherDisplay {
    float:right;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    text-align: left;
    margin-top: 10px;
    margin-right: 200px;
    margin-left: 10px;
    width: 700px;
    display: block;
}

h3, h5, #targetDetails {
    margin-left: 10px;
}

#targetDetails {
    margin-bottom: 8px;
}

.temprature {
    margin-top:10px;
}
.fiveDayForecast {
    float:right;
    text-align: left;
    margin-top: 10px;
    margin-right:200px;
    margin-left: 10px;
    width:700px;

}

.forecastContainer {
    display:flex;
}

.date {
    margin-top: 5px;
}

.humidity2 {
    margin-bottom: 5px;
    text-align: left;
    margin-left:5px;
}

.temp {
    text-align: left;
    margin-left:5px;
}


#fiveDay {
    margin-right: 30px;
    
}

.forecastA, .forecastB,
.forecastC, .forecastD,
.forecastE {
    border-style: solid;
    border-color: lightslategray;
    border-width: 1px;
    border-radius: 5px;
    text-align: center;
    background-color: skyblue;
    color:white;
    font-size: small;
    min-width:150px;
    flex-direction: column;
}

@media screen and (max-width: 940px) {
    .weatherDisplay, .fiveDayForecast, .forecastContainer {
        width: 60%;
    }
}

@media screen and (max-width: 940px) {
    .forecastContainer {
        flex-direction: column;
    }
}
